{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="site__content" role="main">
        <div class="content " itemscope itemtype="http://schema.org/Blog">
            <div class="content__items clearfix">
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/8-pozharnaya-okhrannaya-signalizatsiya-i-opoveshchenie">
                            <div class="item__summary">
                                <a href="/index.php/8-pozharnaya-okhrannaya-signalizatsiya-i-opoveshchenie" class="item__summary_link">
                                    Компания осуществляет монтаж и пусконаладочные работы цифровых систем пожарной безопасности...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/aps1.jpg" alt="Пожарная, охранная сигнализация и оповещение" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/6-sistemy-upravleniya-i-kontrolya-dostupa">
                            <div class="item__summary">
                                <a href="/index.php/6-sistemy-upravleniya-i-kontrolya-dostupa" class="item__summary_link">
                                    Компания осуществляет широкий спектр работ по цифровым системам контроля и управления доступом...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/skud2.jpg" alt="Системы управления и контроля доступа" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/4-sistemy-videonablyudeniya">
                            <div class="item__summary">
                                <a href="/index.php/4-sistemy-videonablyudeniya" class="item__summary_link">
                                    Наша компания занимается поставкой монтажом и настройкой систем видеонаблюдения...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/videos1.jpg" alt="Системы видеонаблюдения, видеодомофоны" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/2-elektromontazhnye-raboty">
                            <div class="item__summary">
                                <a href="/index.php/2-elektromontazhnye-raboty" class="item__summary_link">
                                    Компания “RBS” предоставляет спектр услуг по проведению электромонтажных работ...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/electromont.jpg" alt="Электромонтажные работы" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/7-vizualnye-sistemy">
                            <div class="item__summary">
                                <a href="/index.php/7-vizualnye-sistemy" class="item__summary_link">
                                    Компания предлагает широкий спектр визуальных решений различного уровня сложности...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/visual_sys1.jpg" alt="Визуальные системы" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/5-sistemy-konferents-svyazi">
                            <div class="item__summary">
                                <a href="/index.php/5-sistemy-konferents-svyazi" class="item__summary_link">
                                    Компания производит монтажные и пусконаладочные работы систем видео и аудио конференц-связи...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/vks1.jpg" alt="Системы конференц-связи" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/3-kinoteatralnye-sistemy">
                            <div class="item__summary">
                                <a href="/index.php/3-kinoteatralnye-sistemy" class="item__summary_link">
                                    Наша компания специализируется на строительстве кинотеатров...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/cinema1.jpg" alt="Кинотеатральные системы" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/1-proektnye-raboty">
                            <div class="item__summary">
                                <a href="/index.php/1-proektnye-raboty" class="item__summary_link">
                                    Наша компания предоставляет широкий спектр работ по проектированию...
                                </a>
                            </div>
                        </div>
                        <img src="/web/images/projecting1.jpg" alt="Проектные работы" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/12-kompyuternye-i-besprovodnye-seti">
                            <div class="item__summary">
                                <a href="/index.php/12-kompyuternye-i-besprovodnye-seti" class="item__summary_link">
                                    Компьютерные и беспроводные сети
                                    ООО «ЭРБИЭС» предлагает работы по&nbsp;проектированию, строительству и&nbsp;обслуживанию Структурированных Кабельных Сетей различного уровня от&nbsp;малых&hellip;									</a>
                            </div>
                        </div>
                        <img src="/web/images/sks2.jpg" alt="Компьютерные и беспроводные сети" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/13-sistemy-ventilyatsii">
                            <div class="item__summary">
                                <a href="/index.php/13-sistemy-ventilyatsii" class="item__summary_link">
                                    Системы вентиляции
                                    Эффективная вентиляция – залог здорового микроклимата в жилом или производственном помещении. Поэтому в современных офисах‚&hellip;									</a>
                            </div>
                        </div>
                        <img src="/web/images/rooftop2.jpg" alt="Системы вентиляции" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/14-ognezashchitnaya-obrabotka">
                            <div class="item__summary">
                                <a href="/index.php/14-ognezashchitnaya-obrabotka" class="item__summary_link">
                                    Огнезащитная обработка от компании&nbsp;«ЭРБИЭС»&nbsp;поможет предотвратить&nbsp;пожар, значительно сократив возможные материальные убытки, предупредить гибель людей. Необходимость огнезащитной обработки&hellip;									</a>
                            </div>
                        </div>
                        <img src="/web/images/fire1.jpg" alt="Огнезащитная обработка" class="item__hidden" />
                    </div>
                </article>
                <article
                        class="item item--notloaded  clearfix"
                        itemprop="blogPost"
                        itemscope
                        itemtype="http://schema.org/BlogPosting"
                        data-cols="4"
                >
                    <div class="item__helper item__helper--animated item__helper--flip item--transition-normal">
                        <div class="item__preview item__preview--slide-up item--transition-fast " data-url="/index.php/15-gazovoe-pozharotushenie">
                            <div class="item__summary">
                                <a href="/index.php/15-gazovoe-pozharotushenie" class="item__summary_link">
                                    От монтажа установок газового пожаротушения напрямую зависит их работоспособность. Чтобы обеспечить правильную работу системы газового пожаротушения&hellip;									</a>
                            </div>
                        </div>
                        <img src="/web/images/gaz2.jpg" alt="Газовое, порошковое пожаротушение" class="item__hidden" />
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- .site__content -->
    </div><!-- .site__main -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

