{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div id="home"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

