{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="login">
        <form action="">
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Пароль">
            <input type="submit" value="Войти или зарегистрироваться">
        </form>
        <p>*заполняя данную форму вы даете согласие на обработку персональных данных</p>
    </div>

    <!-- .site__content -->
    </div><!-- .site__main -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

