{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="catalog">
        <ul class="catalog__nav">
            <li class="catalog__nav-item catalog__nav-item--all">Все</li>
            <li class="catalog__nav-item">Сигнализации</li>
            <li class="catalog__nav-item">Видеонаблюдение</li>
            <li class="catalog__nav-item">Системы доступа</li>
            <li class="catalog__nav-item">Пожаротушение</li>
            <li class="catalog__nav-item">Вентиляция</li>
        </ul>
        <div class="catalog__wrapper">
            <div class="catalog__item catalog__item--fire">
                <img src="/web/images/vks1.jpg" alt="">
                <div class="catalog__item-name">Беспроводной датчик дыма со встроенной сиреной Altronics SM-01</div>
                <div class="catalog__item-info">
                    <ul>
                        <li>Предназначен для отслеживания возгораний и присутствия дыма в помещении;</li>
                        <li>Полностью беспроводной, легко монтируется;</li>
                        <li>Рассчитан на площадь до 20 м кв., регулируемая чувствительность;</li>
                        <li>При тревоге включает встроенную звуковую сирену мощностью 85 дБ;</li>
                    </ul>
                </div>
                <div class="catalog__bottom">
                    <div class="catalog__price">2000 &#8381;</div>
                    <button>Добавить в корзину</button>
                </div>
            </div>
            <div class="catalog__item catalog__item--video">
                <img src="/web/images/vks1.jpg" alt="">
                <div class="catalog__item-name">Беспроводной датчик дыма со встроенной сиреной Altronics SM-01</div>
                <div class="catalog__item-info">
                    <ul>
                        <li>Предназначен для отслеживания возгораний и присутствия дыма в помещении;</li>
                        <li>Полностью беспроводной, легко монтируется;</li>
                        <li>Рассчитан на площадь до 20 м кв., регулируемая чувствительность;</li>
                        <li>При тревоге включает встроенную звуковую сирену мощностью 85 дБ;</li>
                    </ul>
                </div>
                <div class="catalog__bottom">
                    <div class="catalog__price">2000 &#8381;</div>
                    <button>Добавить в корзину</button>
                </div>
            </div>
        </div>
    </div>
    <!-- .site__content -->
    </div><!-- .site__main -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

