{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {#{{  parent() }}#}
    <div class="login">
        <form action="/" class="js-login-form">
            <div></div>
            <input type="text" required placeholder="Имя">
            <input type="password" required placeholder="Пароль">
            <input type="submit" value="Войти или зарегистрироваться">
        </form>
        <p>*заполняя данную форму вы даете согласие на обработку персональных данных</p>
    </div>

    <!-- .site__content -->
    </div><!-- .site__main -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

