
$Montserrat: 'Montserrat', sans-serif;
$PTMono: 'PT Mono', monospace;

//color

$light: #fafaed;
$white: #ffffff;
$black: #000000;
$lightBlue: #00beb2;
$darkBlue: #1a5d63;
$lightPink: #f35b68;
$darkPink: #d81e5b;

